<div id="wrapper">
  <div [class.loading]="(loading$ | async)" id="shopping-list" *ngIf="!(error$ | async); else error">
    <div id="list">
      <h2>
        Shopping List
      </h2>

        <ul *ngIf="(tutorialDatas | async); else noItems">
          <li *ngFor="let data of tutorialDatas | async; let i = index" >
            <span>{{ data.name }}</span>
            <button class="btn btn-primary" (click)="deleteData(data.id)">Delete</button>
            <form (ngSubmit)="editData()" [formGroup]="updateForm">
              <input type="text" [(ngModel)]="newTutorialData.id" formControlName="id" value="{{data.id}}" placeholder="Item" name="itemId"/>
              <input type="text" [(ngModel)]="newTutorialData.name" formControlName="name" value="{{data.name}}" placeholder="Item" name="itemName"/>
              <input type="text" [(ngModel)]="newTutorialData.email" formControlName="email" value="{{data.email}}" placeholder="Item" name="itemEmail"/>              
            </form>
            <button type="submit" (click)="editData()">Edit</button>
          </li>
        </ul>

      <ng-template #noItems>
        <ul>
          <li style="max-width:250px;margin:0 auto;">No items found. Are you sure there's <em>nothing</em> you want?</li>
        </ul>
      </ng-template>
    </div>

    <form (ngSubmit)="addData()">
      <input type="text" [(ngModel)]="newTutorialData.name" placeholder="Item" name="itemName"/>
      <button type="submit" >+</button>
    </form>

    
  </div>
</div>

<ng-template #error>
  <h2>{{(error$ | async)?.message}}</h2>
</ng-template>

